

body {
  font-family: 'Noticia Text', serif;
  font-weight: 400;
  box-sizing: border-box;
  overflow: auto;
}

#content {
  position: absolute;
}

header {
  /*border-bottom: 0.1em solid black;*/
}


h1 {
  margin-left: 0.2em;
  margin-right: 1em;
  margin-top: 0.28em;
  font-size: 3em;
  float:left;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  letter-spacing: -0.07em;
  word-spacing: -0.17em;
}

.aColor {
  color: #522b2b;
}

.aSpace {
  letter-spacing: -0.15em;
}

nav {
  text-align: right;
  margin-right: 2%;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:link {
  color: black;
}

nav a:visited {
  color: black;
}

nav a:hover{
  color: rgb(102, 61, 122);
}

.navButton {
  padding-top: 2.4em;
  display: inline-block;
}

.clearFix {
  clear: both;
}

#rightContent {
  float:left;
  width:88%;
  /*background-color: grey;*/
  /*padding-left: 1em;*/
  /*background-color: tan;*/
}

#bioBlock {
  /*margin: 1em;*/
}

#uListSect {
  margin: 1em;
}

#oListSect {
  margin: 1em;
}

#photoBlock {
  background-color: black;
  height:100%;
}

aside {
  position: relative;
  width: 12%;
  margin: 0;
  height: 45em;
  float: left;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+19,000000+19,232323+35,232323+35,939393+56,cccccc+67,ededed+78,ffffff+89 */
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 19%, rgba(0,0,0,1) 19%, rgba(35,35,35,1) 35%, rgba(35,35,35,1) 35%, rgba(147,147,147,1) 56%, rgba(204,204,204,1) 67%, rgba(237,237,237,1) 78%, rgba(255,255,255,1) 89%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 19%,rgba(0,0,0,1) 19%,rgba(35,35,35,1) 35%,rgba(35,35,35,1) 35%,rgba(147,147,147,1) 56%,rgba(204,204,204,1) 67%,rgba(237,237,237,1) 78%,rgba(255,255,255,1) 89%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 19%,rgba(0,0,0,1) 19%,rgba(35,35,35,1) 35%,rgba(35,35,35,1) 35%,rgba(147,147,147,1) 56%,rgba(204,204,204,1) 67%,rgba(237,237,237,1) 78%,rgba(255,255,255,1) 89%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#topGradient {
  position: absolute;
  height: 1.5em;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+19,000000+19,232323+35,232323+35,939393+58,cccccc+72,ededed+81,ffffff+95 */
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(left, rgba(0,0,0,1) 19%, rgba(0,0,0,1) 19%, rgba(35,35,35,1) 35%, rgba(35,35,35,1) 35%, rgba(147,147,147,1) 58%, rgba(204,204,204,1) 72%, rgba(237,237,237,1) 81%, rgba(255,255,255,1) 95%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 19%,rgba(0,0,0,1) 19%,rgba(35,35,35,1) 35%,rgba(35,35,35,1) 35%,rgba(147,147,147,1) 58%,rgba(204,204,204,1) 72%,rgba(237,237,237,1) 81%,rgba(255,255,255,1) 95%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,0,0,1) 19%,rgba(0,0,0,1) 19%,rgba(35,35,35,1) 35%,rgba(35,35,35,1) 35%,rgba(147,147,147,1) 58%,rgba(204,204,204,1) 72%,rgba(237,237,237,1) 81%,rgba(255,255,255,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

#selfPhoto {
  margin: 1.5em 1.2em 17em 1.2em;
  width: 100%;
  padding-bottom: 1em;
  background-color: white;
  border: 1px grey solid;
  /*height: 8em;*/
  /*border-radius: 100%;*/
  /*float: left;*/
}

h2 {
  /*font-family: 'Kanit', sans-serif;*/
  /*font-family: 'Kanit', sans-serif;*/
  /*font-weight: 900;*/
  margin-top: 0.3em;
  margin-bottom: 1em;
  margin-left: 1em;
  font-size: 4em;
  /*font-weight: 700;*/
}

#contactLinks {
  position: fixed;
  bottom: 0.4em;
  left: 0.4em;
  font-size: 0.8em;

}

#contactLinks a {
  text-decoration: none;
  color: black;
}

#contactLinks a:hover {
  font-weight: 700;
}

#bioPara {
  margin-left: 4em;
  /*width: 60%;*/
}

.lFloat {
  float: left;
}

footer {
  float: right;
  height: 3em;
  width: 9em;
  margin-top: 5em;
  /*margin-bottom: 1em;*/
  border-top: solid 1px grey;
}

#footText {
  text-align: right;
  margin-right: 1.2em;
  margin-top: 0.8em;
  /*margin-bottom: 2.1em;*/
}
