body {
  box-sizing: border-box;
  font-family: monospace;
}

header {
  font-family: 'Kanit', sans-serif;
}

h1 {
  margin-left: 0.2em;
  margin-right: 1em;
  margin-top: 0.28em;
  font-size: 3em;
  float:left;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  letter-spacing: -0.1em;
}

.aColor {
  color: #522b2b;
}

.aSpace {
  letter-spacing: -0.15em;
}

nav {
  text-align: right;
  margin-right: 2%;
}

nav a {
  text-decoration: none;
  color: #f1f1f1;
}

nav a:link {
  color: #f1f1f1;
}

nav a:visited {
  color: #f1f1f1;
}

nav a:hover{
  color: black;
}

.navButton {
  padding-top: 2.4em;
  display: inline-block;
}

#mainBlock {
  margin: auto;
  border: 1.5px solid lightgrey;
  width: 45.5%;
  margin-top: 5em;
  position: relative;
}

.clearfix {
  clear: both;
}

#row-1-of-2 {
  /*width: 60%;*/
  /*margin: auto;*/
  /*position: relative;*/

  /*display: inline-block;*/
}

#col-1-row-1 {
  left: 0;
  top: 0;
  float: left;
  margin: 0.2em;
  width: 48%;
}


/* Biobox*/
#col-2-row-1 {
  padding-top: 4.8em;
  padding-right: 0.3em;
  padding-left: 0.4em;
  padding-bottom: 4.2em;
  background-color: #F8F5E1;
  margin-left: 0.7em;
  margin-top: 0.2em;
  width: 48%;
  float: left;
  bottom: 0;
}

#bioPara {
  border-bottom: 1px solid black;
}

#col-1-row-2 {
  text-align: right;
  left: 0;
  top: 0;
  float: left;
  padding-top: 0.1em;
  margin: 0.2em;
  width: 48%;
}


/* Silky picture */
#col-2-row-2 {
  margin-left: 0.7em;
  margin-bottom: 0.1em;
  width: 48%;
  float: left;
  bottom: 0;
}

.col-2 {
  top: 1;
  margin-top: 20px;
  width: 40%;
  float: left;
}

h3 {

}

footer {
  float: right;
  height: 3em;
  width: 100%;
  margin-top: 5em;
  border-top: solid 1px grey;
}

#footText {
  text-align: right;
  margin-right: 1.2em;
  margin-top: 0.8em;
}
