body {
  font-family: 'Noticia Text', serif;
  font-weight: 400;
}

header {
  /*font-family: 'Noticia Text', serif;
  font-weight: 400;*/
  border-bottom: 1px solid grey;
}


h1 {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  font-size: 3em;
  float:left;
  font-family: 'Kanit', sans-serif;
  letter-spacing: -0.07em;
  word-spacing: -0.17em;
}

.aColor {
  color: #522b2b;
  letter-spacing: -0.15em;
}

nav {
  text-align: right;
  margin-right: 2%;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:link {
  color: black;
}

nav a:visited {
  color: black;
}

nav a:hover{
  color: rgb(102, 61, 122);
}

.navButton {
  padding-top: 2.4em;
  display: inline-block;
}

.clearFix {
  clear: both;
}

footer {
  float: right;
  height: 3em;
  width: 9em;
  margin-top: 5em;
  margin-bottom: 2.1em;
  border-top: solid 1px grey;
}

#footText {
  text-align: right;
  margin-right: 1.2em;
  margin-top: 0.8em;
  /*margin-bottom: 2.1em;*/
}
