nav {
  background-color: grey;
}

nav a:link {
  text-decoration: none;
}

nav a:visited {
  color: white;
}

nav a:hover {
  background-color: white;
  color: black;
}

#navLinks {
  margin-left: 5px;
}

.navButton {
  display: inline-block;
  font-family: monospace;
}

h1 {
  margin-left: 5px;
}

h2 {
  margin-left: 10px;
  float: left;

}

img {
  float: left;
}
