html {
  font-family: monospace;
}

body {
  margin: 0 0 0 0;
}

header {
  background-color: grey;
}

nav a:link {
  text-decoration: none;
}

nav a:visited {
  color: white;
}

nav a:hover {
  background-color: white;
  color: black;
}

#navLinks {
  margin-top: 0;
  text-align: right;
  padding-right: 1%;
}

.navButton {
  display: inline-block;
  padding-left: 2px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0%;
  right: 0%;
  border-top: black solid 1px;
}

#footText {
  text-align: right;
  margin-right: 1%;
}

h1 {
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

h2 {
  margin-left: 3%;
  margin-right: 10%;
  /*float: left;*/

}

#attr {
  float: left;
  width: 70%;
}

p {
  margin-left: 10px;
  display: block;
}

#theMur {
  margin-left: 5%;
  float: left;
}

ul {
  list-style-type: none;
}

#content {
  position: fixed;
}
